<aside
  class="sidebar w-64 bg-white dark:bg-gray-800 m-5 p-10 flex flex-col justify-between shadow-2xl rounded-4xl fixed h-[95vh] left-0 top-0"
>
  <div>
    <h1 class="sidebar-logo text-2xl font-extrabold text-[#C1500E] mb-10">
      tel<span class="text-[#303030]">Food.</span>
    </h1>
    <nav class="sidebar-nav space-y-3 font-normal">
      <a
        data-page="page-home"
        href="/index.html"
        class="active block text-gray-400 dark:text-gray-300 hover:text-[#D2691E]"
        >Home</a
      >
      <a
        data-page="page-booking"
        href="/booking.html"
        class="block text-gray-400 dark:text-gray-300 hover:text-[#D2691E]"
        >Pesan</a
      >
    </nav>
  </div>

  <div class="flex flex-col gap-10">
    <div class="flex flex-col justify-start items-start gap-3">
      <a data-page="page-account" href="/account/index.html" class="flex items-center gap-3">
        <div class="w-10 h-10 rounded-full bg-pink-100 overflow-hidden">
          <img src="./assets/profile.png" alt="User" />
        </div>
        <div class="text-xs">
          <p class="font-bold">Namimaw</p>
          <p class="text-gray-400">mimaw@gmail.com</p>
        </div>
      </a>
    </div>
  </div>
</aside>
